
<div class="selections row">
  <div class=" col-md-2"></div>
  <div class="col-sm-6 col-md-4">
      <button class="card text-white text-center" id = "view">
         <a [routerLink] = "['/veiwReservation']" class="nav-link"> <h4 class="card-title">View<br>Lab Reservations</h4></a>
      </button>
  </div>
  <div class="col-sm-6 col-md-4">
    <button class="card text-white text-center" id = "add">
        <a [routerLink] = "['/addReservation']" class="nav-link"><h4 class="card-title">Add<br>Lab Reservations</h4></a>
    </button>
  </div>
  <div class="col-md-2"></div>
</div>

