
.jumbotron #calendar-icon {
    width:90px;
    height: 90px;
}

.jumbotron #settings-icon {
    width:90px;
    height: 90px;
}

.jumbotron #analytics-icon {
    width:90px;
    height: 90px;

}

.jumbotron img {
    padding: 20px;
}

.features h3  {
    color: blue;
}



