
<br>
<div class="jumbotron text-center">
    <h1 class="display-3">Lab Reservations</h1>
    <p class="lead">Welcome to Online Lab Reservation Application of UCSC</p>
    <img id ="calendar-icon" src="../../../assets/img/calendar-icon.png">
    <img id="settings-icon" src="../../../assets/img/settings-icon.png">
    <img id="analytics-icon" src="../../../assets/img/analytics-icon.png">
    <hr class="my-4">
    <div class="lead">
        <a class="btn btn-primary" [routerLink] = "['/register']" style="margin-right: 20px">Register</a>
        <a class="btn btn-success" [routerLink] = "['/login']">Login</a> 
    </div>
  </div>

 <!-- <div class="jumbotron text-center features">
        <h3 class="display-4 text-primary">Extensive Feature Support</h3>
        <div class="card" id="card-a">
            <div class="card-body">
                <h4 class="card-title">Visibility</h4>
                <h6 class="card-subtitle mb-2 text-muted"><br></h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card my-md-4" id="card-b">
            <div class="card-body">
                <h4 class="card-title">Activity</h4>
                <h6 class="card-subtitle mb-2 text-muted"><br></h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
        <div class="card my-md-4" id="card-c">
                <div class="card-body">
                <h4 class="card-title">Notifications</h4>
                <h6 class="card-subtitle mb-2 text-muted"><br></h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
                </div>
        </div>

    
    </div>-->

 