
<br>
<div class="jumbotron text-center">
    <h1 class="display-3">Lab Reservations</h1>
    <p class="lead">Welcome to Online Lab Reservation Application of UCSC</p>
    <img id ="calendar-icon" src="../../../assets/img/calendar-icon.png">
    <img id="settings-icon" src="../../../assets/img/settings-icon.png">
    <img id="analytics-icon" src="../../../assets/img/analytics-icon.png">
    <hr class="my-4">
    <div class="lead">
        <a class="btn" id="register" [routerLink] = "['/register']" style="margin-right: 20px">Register</a>
        <a class="btn" id="login" [routerLink] = "['/login']">Login</a> 
    </div>
  </div>

  <!--<div class="features row text-center">
    <div class="card col-md-3" id="card-a">
        <div class="card-body">
            <h4 class="card-title">Visibility</h4>
            <h6 class="card-subtitle mb-2 text-muted"><br></h6>
            <p class="card-text">See at a glance when your favorite resources will be available.</p>
        </div>
    </div>
    <div class="card col-md-3" id="card-a">
        <div class="card-body">
            <h4 class="card-title">Activity</h4>
            <h6 class="card-subtitle mb-2 text-muted"><br></h6>
            <p class="card-text">Track information about the current and historical user and resource activity.</p>
        </div>
    </div>
    <div class="card col-md-3" id="card-a">
        <div class="card-body">
            <h4 class="card-title">Notifications</h4>
            <h6 class="card-subtitle mb-2 text-muted"><br></h6>
            <p class="card-text">Get alerts when resources become available.</p>
        </div>
    </div>
  </div>-->
 